body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #474955;
}

.App {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App__row {
  display: flex;
  justify-content: center;
  max-width: 1232px;
  width: 100%;
  padding: 0 80px;
  min-height: 100vh;
}

.App__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1077px;
}

.App__table {
  flex: 1 1 auto;
}

.App__search {
  margin-top: 23px;
  margin-bottom: 15px;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 950px) {
  .App__row {
    padding: 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .App__row {
    padding: 0 20px;
  }
}
