.Table__headData {
  text-align: center;
  width: 25%;
  max-height: 45px;
  padding: 0 5px;
  font-weight: 600;
  border: none;
  color: #ffffff;
  font-size: 14px;
  padding: 19px 0 16px 0;
}

.Table__headData:first-child {
  width: 9%;
}

.Table__headData:nth-child(2) {
  width: 49%;
}

.Table__headData:last-child {
  width: 42%;
}

.Table__headButton {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 25px;
  transition: transform 0.2s ease;
}

.Table__headButton svg {
  width: 12px;
}

@media screen and (max-width: 1050px) {
  .Table__headButton {
    margin-left: 10px;
  }

  .Table__headButton svg {
    width: 10px;
  }
}

@media screen and (max-width: 950px) {
  .Table__headData:first-child {
    width: 14%;
  }

  .Table__headData:nth-child(2) {
    width: 44%;
  }
}

@media screen and (max-width: 480px) {
  .Table__headData:first-child {
    width: 24%;
  }

  .Table__headData:nth-child(2) {
    width: 34%;
  }
}
